.header {
  display: flex;
  background-color: rgb(40, 40, 40);
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: .875em;


  .logo {
    display: flex;
    align-items: center;
    margin-left: 2em;


    p {
      color: #f7f6f3;
      font-size: 1.2em;
      margin-left: -1em;
      // font-family: 'Inter', sans-serif;
    }

    .recipe-box-icon {
      filter: invert(100%);
      -webkit-filter: invert(100%);
      -webkit-transform: scaleX(-1);
      transform: scale(-.5, .5);
    }
  }

  h1 {
    color: #f7f6f3;
    font-family: 'Cormorant Garamond', sans-serif;
  }

  .menu {
    cursor: pointer;
    margin-right: 3em;
    display: flex;
    align-items: center;

    .menu-icon {
      filter: invert(100%);
      -webkit-filter: invert(100%);
      padding-left: .75em;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header .logo {
    margin-left: 1em;
  }

  .header .menu {
    margin-right: 1em;
  }
}