.header {
    display: flex;
    background-color: var(--background);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: .875em;


    .logo {
        display: flex;
        align-items: center;
        margin-left: 2em;


        h1 {
            color: var(--text);
            font-size: 1.5em;
          }

          .recipe-box-icon {
            filter: var(--filter);
            -webkit-filter: var(--filter);
            -webkit-transform: scaleX(-1);
            transform: scale(-.7, .7);
          }
    }

    .menu{
        cursor: pointer;
        margin-right: 3em;
        filter:  var(--filter);
        -webkit-filter:  var(--filter);
    }
}

@media only screen and (max-width: 600px) {
    .header .logo {
      margin-left: 0em;
        }

    .header .menu{
        margin-right: 1em;
    }
  }
