.form-container {
    display: flex;
    flex-direction: column;
    min-height: 92vh;
    width: 64em;
    margin-top: 3em;

    .form-content {
        background-color: #f7f6f3;
        padding: 1em 3em 3em 3em;

        .import-bar {
            max-width: 800px;
        }

        .name-container {
            max-width: 800px;
        }

        .image-preview {
            max-width: 300px;
        }

        .button-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 1em;

            .button-group {
                display: flex;
                flex-direction: row;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .form-container {
        margin: 0em;
        width: 100%;

        .form-content {
            padding: .5em
        }
    }
}