.form-container {
    padding: 3em 5em 5em 5em;
    display: flex;
    flex-direction: column;
    min-height: 92vh;
    max-width: 1000px;
    margin: auto;
    background-color: #f7f6f3;
    margin-top:5em;
    margin-bottom: 5em;
    // box-shadow-bottom: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // border: 1px solid grey;
    // border-radius: 1em;

    .import-bar{
        // display: flex;
        // flex-direction: column;
        // align-items: flex-end;
        max-width: 800px;
        // margin-bottom: 5em;
    }

    .name-container{
        max-width: 800px;
    }

    .image-preview{
        max-width: 300px;
    }

    .button-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1em;

        .button-group {
            display: flex;
            flex-direction: row;
        }
    }
}