.form-container {
    padding: 0em 1em 1em 1em;
    display: flex;
    flex-direction: column;
    min-height: 92vh;
    max-width: 1400px;
    margin: auto;
    background-color: #f7f6f3;
    margin-top:3em;
    margin-bottom: 3em;


    .import-bar{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 800px;
        margin-bottom: 5em;
    }

    .name-container{
        max-width: 800px;
    }

    .image-preview{
        max-width: 300px;
    }

    .button-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1em;

        .button-group {
            display: flex;
            flex-direction: row;
        }
    }
}