.home-content{
    // background-image: url("../../assets/pan.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/spices.jpg");
    background-position-x: 50%;
    // background-position-y: 50%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    padding-top: 3em;
    margin-bottom: 3em;
}

.grid {
    padding: 2em 0 2em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f7f6f3;
    width: 64em;
    position: relative;
    min-height: 60vh;

    .grid-item {
        margin: 1em 1em 4em 1em;
        width: 200px;
        height: 300px;
        cursor: pointer;
    }
}

.fab {
    position: fixed;
    bottom: 2em;
    right: .5em;
}

@media only screen and (max-width: 1000px) {

    .grid {
        max-width: 100vw;
        min-width: 98vw;
        min-height: 65vh;
    }
}

@media only screen and (max-width: 600px) {

    .grid{
        min-width: 100vw;
        padding-top: 0em;

     .grid-item {
        margin: 1em 0.5em 4em 0.5em;
        width: 160px;
        height: 220px;
    }}

    .search-bar{
        max-width: 70vw;
        margin: auto;
        margin-bottom: 3em;
    }
}