.read-container {
  padding: 3em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  min-height: 92vh;
  max-width: 1400px;
  margin: auto;


  .read-header-container {
    display: flex;
    align-items: center;
    z-index: 1;

    .read-image-container {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 20px solid #f7f6f3;

      .read-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }

    .recipe-name {
      padding-top: 3em;
      padding-left: 1em;
    }
  }

  .ingredient-method-container {
    display: flex;
    flex-direction: row;
    white-space: pre-wrap;
    background-color: #f7f6f3;
    padding-top: 7em;
    margin-top: -7em;
    padding-left: 2em;

    .ingredients-container {
      min-width: 45%;
      padding-right: 2em;


      .ingredients-content {
        font-size: 1.3em;
        line-height: 1.3em;
      }
    }

    .method-container {
      min-width: 50%;

      .method-content {
        font-size: 1.3em;
      }
    }
  }

  .notes-container {
    background-color: #f7f6f3;
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    white-space: pre-wrap;
  }

  .read-button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f7f6f3;
    padding: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .read-container {
    padding-top: 1em;
    padding-bottom: 1em;

    .read-header-container {
      flex-direction: column;

      .recipe-name {
        padding: 0em;
        margin-top: 0em;
        display: grid;
        justify-items: center;
      }
    }

    .ingredient-method-container {
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 12em;
      margin-top: -12em;
      padding-left: 1em;
      padding-right: 1em;

      .ingredients-container {
        width: 100%;
        padding-right: 0em;

      }

      .method-container {
        width: 100%;
      }
    }

    .notes-container {
      min-height: 7em;
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}