.app{
    position: relative;
    min-height: 100vh;
    font-family: 'League Spartan', sans-serif;
    background-image: url("./assets/bowl.jpg");
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
    background-attachment: fixed;
}

.content-container{
    padding-bottom: 6em;
    width: 100vw;
}