.app{
    position: relative;
    min-height: 100vh;
    font-family: "Cormorant Garamond", sans-serif;
}

.content-container{
    padding-bottom: 6em;
    background-color: var(--content-background); 
    color: var(--text)

}